.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form{
    display: flex;
    flex-direction: column;
    gap: var(--sp-3);
    width: 380px;
    background-color: #ebedf0;
    color: #222;
    padding: 1rem;
    border-radius: var(--r-sm);
}