/* =========================
   Typography scale
   Base: html font-size = 14px
========================= */
/* Font sizes */
$fs-xs: 0.7143rem; // 10px
$fs-sm: 0.8571rem; // 12px
$fs-base: 1rem;    // 14px

$fs-h6: 1.1429rem; // 16px
$fs-h5: 1.2857rem; // 18px
$fs-h4: 1.5714rem; // 22px
$fs-h3: 2rem;      // 28px
$fs-h2: 2.5714rem; // 36px
$fs-h1: 3rem;      // 42px


/* высота строк */
$lh-tight: 1.2;
$lh-snug: 1.3;
$lh-base: 1.5;


/* =========================
Отступы (Spacing) 4px grid => 0.2857rem
========================= */
$sp-0: 0;
$sp-1: 0.2857rem; // 4px
$sp-2: 0.5714rem; // 8px
$sp-3: 0.8571rem; // 12px
$sp-4: 1.1429rem; // 16px
$sp-5: 1.4286rem; // 20px
$sp-6: 1.7143rem; // 24px
$sp-8: 2.2857rem; // 32px
$sp-10: 2.8571rem; // 40px
$sp-12: 3.4286rem; // 48px


/* =========================
   Radius
========================= */
$r-sm: 0.5714rem; // 8px
$r-md: 0.8571rem; // 12px
$r-lg: 1.1429rem; // 16px

/* =========================
   Mobile Font Size 
========================= */
$m-fs-h1: 2.8571rem; // 40px
$m-fs-h2: 2.2857rem; // 32px
$m-fs-h3: 1.8571rem; // 26px
$m-fs-h4: 1.4286rem; // 20px