@use '../../style/_tokens.scss' as *;

.page{
    min-height: 100vh;
    background: linear-gradient(45deg, #121212, #1c1e24);
    color: #ffffff;
}

.nav{
    display: flex;
    gap: $sp-3;
    padding: $sp-2 0;
    justify-content: center;
    align-items: center;
}