.input {
    display: block;
    width: 100%;
    padding: 10px 12px;
    font-size: var(--fs-sm);
    border-radius: var(--r-sm);
    background: #ffffff94;
    border: 1px solid #222;
}

.label {
    display: block;
    font-size: 1rem;
}